<h1>
    <%= question.text %>
</h1>

<% question.answers.forEach(function(answer){ %>
	<p>
         <%= answer.author.hospital %> - <%= answer.text %>
    </p>
<% }) %>

<a  href="/question/<%= question._id%>/answers/new ">add answer</a>

